@import '../node_modules/normalize.css/normalize.css';

#task-one {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#task-one .description {
    align-items: normal;
    width: 90%;
}

#task-one .data {
    padding-bottom: 2em;
    display: flex;
    gap: 1em;
}