
#task-three {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#task-three .data {
    display: flex;
    justify-content: center;
    width: 100%;
}

#task-three .description {
    align-items: normal;
    width: 90%;
}

#task-three .data {
    padding-bottom: 1em;
    display: flex;
    gap: 1em;
}

#task-three .data .input {
    display: flex;
    align-items: center;
    gap: 1em;
}

#task-three .data .output {
    display: flex;
    align-items: center;
    gap: 1em;
}